

.navbar {
    display: flex;
    background: rgb(248, 92, 81);
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    opacity: 1;
    height:70px;
    z-index:10002;
    position:fixed;
  }

.navbar ul {
  display: flex;
  list-style:none;
  
}
  
 
.navbar a {
    color: black;
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 700;
}
  
.navbar a:hover {
    cursor: pointer;
    border-bottom: 2px solid #000000;
}

@media (max-width: 630px) {
  .navbar .proton {
    display:none;
  }
}


