#container-profile {
    margin:50px;
}

#profile {
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 20px;
}
#profile_image {
    max-width: 300px;
    max-height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 50px 50px;
}

#profile_details {
    margin: 80px 80px;
}
.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

table {
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    width:100%;
  }
  
th, td {
    text-align: left;
    padding: 16px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
