body {
    font-family: "Lato", sans-serif;
  }
  .container {
    display:flex;
    position: relative;
  }
  .container .sidebar {
    height: 100%;
    width: 0;
    position:fixed;
    left: 0;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display:block;
  }
  .content {
    margin-left:60px;
    overflow:hidden;
  }
  
  .sidebar .hover-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 10px 10px;
  }
  
  .sidebar .hover-link:hover {
    color: #f1f1f1;
    border-bottom: 2px solid  rgb(248, 92, 81);
    padding: 0px 5px;
  }

  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    outline:none;
    color:#818181;
    text-decoration: none;
  }
  
  .sidebar .icon-sidebar-background:hover, .icon-sidebar-background:visited {
    background: white;
    cursor: pointer;
    border-bottom: 3px solid rgb(248, 92, 81);
    border-top: 3px solid rgb(248, 92, 81);
    border-right: 1px solid rgb(248, 92, 81);
    border-left: 1px solid rgb(248, 92, 81);
  }

  .sidebar .icon-sidebar-background:hover a .icon-sidebar > svg {
    color: black;
  }
  
  .sidebar .icon-sidebar-background .icon-sidebar {
    margin:10px;
    margin-left:15px;
    margin-top:20px;
    color:rgb(248, 92, 81);
    
  }

  .circle {
    cursor: pointer;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:  rgb(248, 92, 81);
    color: black;
    padding: 10px 20px;
    border: none;
  }
  .openbtn:focus {
    border:none;
  }

  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }