html, body {
  height:100%;
}

button {
  background-color: #f85c51; /* Green */
  border: none;
  color: #161616;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  overflow:auto;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  float:right;
  box-sizing: content-box;
  border-radius: 5px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
  height:50rem;
}

.content {
  padding-top: 70px;
}

/* Container for flexboxes */
.flex-row {
  display: -webkit-flex;
  display: flex;
}

.flex-column-item {
  padding-right:20px;
  flex:1;
}



/* Create three unequal columns that sits next to each other */
.flex-column {
  padding: 10px;
  min-height: 100%;
  height:2000px;
}

/* Left and right column */
.flex-column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.flex-column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

@media screen and (max-width: 900px) {
  .flex-column.side {
    display: none;
  }
}


.content {
  margin-left:60px;
  overflow:hidden;
  width:100%;
  height:100%;
}

.container {
  display:flex;
  position: relative;
  height: 100%;
  width:100%;
}
input[type=text]:focus{
  outline: 2px solid black; 
}


/* Select css */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggler {
  width: 200px;
  background:rgb( 22, 22, 22);
  padding: 6px 12px;
  color: #f1f1f1;
  border: 0px solid #ececec;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  z-index: -1;
  text-align: left;
}

.dropdown-toggler:active {
  opacity: 1;
}

.dropdown-menu {
  list-style: none;
  padding-left: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  border-radius: 5px;
  z-index: 2;
}

.dropdown-menu-item {
  width: 220px;
  background: rgb(22, 22, 22);
  padding: 6px 12px;
  color: #f1f1f1;
  border: 1px solid #333333;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
}

.dropdown-menu-item::hover {
  background: rgb(248, 92, 81);
}

.dropdown-menu-item button {
  padding:0px;
  margin:0px;
}

.dropdown-menu-item:active {
  opacity: 1;
}




/*the container must be positioned relative:*/
.custom-select select {
    box-shadow: none;
}
.dropdown-toggler:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.dropdown-title {
  color: #f1f1f1;
  font-size: 12px;
}

/* css for modal box */
.modal-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,1); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-left: 60px;
}

.modal-content {
  background-color: rgb( 22, 22, 22);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 40%;
  border-radius: 5px;
  color: rgb(22, 22, 22);
  opacity: 1;
  /* overflow: auto; Enable scroll if needed */

  min-height: 25rem;

}
body::-webkit-scrollbar {
  width: .5em;
  background-color:rgb(22, 22, 22);
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 1 0 6px rgb(22, 22, 22);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(248, 92, 81);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}




.modal-content-in {
  padding:20px 10px;
}

/* The Close Button */
.close-modal {
  color:#f1f1f1;
  font-size: 28px;
  font-weight: bold;
  float:right;
}

.close-modal:hover,
.close-modal:focus {
  text-decoration: none;
  cursor: pointer;
}

.form {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.custom-input input {
  padding:10px;
  border-radius:5px;
  border: none;
}

.custom-input {
  display:flex;
}


.profile-pic-icon {
  display: inline-block;
  vertical-align: middle;
}
.profile-pic-icon img {
  border-radius: 50%;
}

.profile-pic-icon span {
  padding-left: 5px;
  padding-bottom: 2px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
